.login {
  min-height: 100vh;
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__form {
  background-color: var(--background-accent);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 512px;
  padding: 56px;
  border-radius: 16px;
}

.login__title {
  color: var(--text);
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.login__fieldset {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  border: 0;
  padding: 0;
}

.login__label {
  display: flex;
  flex-direction: column;
}

.login__text {
  font-size: 14px;
  line-height: 17px;
  color: var(--subtext);
  margin-bottom: 4px;
}

.login__input {
  background: var(--background);
  color: var(--text);
  border-radius: 8px;
  padding: 16px 24px;
  font-size: 16px;
  line-height: 20px;
  border: 0;
}

.login__buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.login__error {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}

.login__error-icon {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../../assets/images/icons/error.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.login__error-text {
  color: var(--light);
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
