.input {
  color: var(--text);
  border-radius: 8px;
  padding: 16px 24px;
  font-size: 16px;
  line-height: 20px;
  border: 0;
  transition: outline .2s ease;
  outline: 1px solid transparent;

  &:focus {
    outline: 1px solid var(--primary);
  }

  &_error {
    outline: 1px solid var(--danger);
  }
}

.light {
  background: var(--background-accent);
}

.dark {
  background: var(--background);
}