.label {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--primary);
  transition: color .2s ease;

  &:hover {
    cursor: pointer;
    color: var(--light);
  }
}

.input {
  display: none;
}
