/*//$primary: #1E78FF;*/
/*//$background: #161718;*/
/*//$background-accent: #1E1F22;*/
/*//$text: #FFFFFF;*/
/*//$subtext: #888888;*/
/*//$light: #FFFFFF;*/
/*//$danger: #E44242;*/

:root {
  --primary: #1E78FF;
  --background: #161718;
  --background-accent: #1E1F22;
  --text: #FFFFFF;
  --subtext: #888888;
  --light: #FFFFFF;
  --danger: #E44242;
}
