@import 'color-variables.pcss';
@import '../vendor/normalize.css';
@import '../vendor/fonts.css';

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy", Arial, sans-serif;
}
