@import '../../../styles/color-variables';

.error {
  background-color: $background;
  min-height: 100vh;
  position: relative;

  &__illustration {
    width: 52vw;
    height: 46vw;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 456px;
    position: absolute;
    bottom: 86px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: $text;
  }

  &__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $text;
    background: $primary;
    border-radius: 8px;
    padding: 16px 64px;
  }
}
