.toolbar {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px 0;
  border-right: 1px solid var(--background-accent);
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}


.list {
  display: flex;
  flex-direction: column;
  gap: 38px;
  list-style: none;
}