.fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 312px;
  padding: 0 0 60px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 56px;
}
