.chats {
  display: grid;
  grid-template-columns: 80px 1fr;
  min-height: 100vh;
}

.chats-container {
  background-color: var(--background);
  display: grid;
  grid-template-columns: 340px 1fr;
}

.chats-list {
  border-right: 1px solid var(--background-accent);
}

.chats-list__search-container {
  padding: 28px 24px 12px;
}

.chats-list__search-line {
  padding-bottom: 13px;
  border-bottom: 1px solid var(--background-accent);
}

.chats-list__search {
  padding: 10px;
  width: 100%;
  background-color: var(--background-accent);
  border: 0;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.chats-list__list {
  display: flex;
  flex-direction: column;
}

.chats-list__list-item {
  display: grid;
  grid-template-columns: 48px 1fr 26px;
  align-items: center;
  gap: 12px;
  padding: 8px 24px;
}

.chats-list__avatar {
  min-width: 48px;
  min-height: 48px;
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
}

.chats-list__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.chat {
  display: flex;
  flex-direction: column;
}

.chat__header {
  background-color: var(--background-accent);
  padding: 18px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat__header-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.chat__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--text);
}

.chat__status {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--light);
}

.chat__status-text {
  font-size: 14px;
  line-height: 17px;
  color: var(--subtext);
}

.chat__options {
  width: 24px;
  height: 24px;
  background-image: url("../../assets/images/icons/options.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: 0;
}

.chat__messages {
  flex-grow: 1;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
}

.chat__messages-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  list-style: none;
  padding: 32px;
}

.chat__messages-list-item {
  color: var(--text);
  background-color: var(--background-accent);
  border-radius: 8px;
  overflow: hidden;
  font-size: 0;
}

.chat__messages-list-item_self {
  background-color: var(--primary);
  align-self: flex-end;
}


.chat__messages-list-image {
  width: 346px;
  height: 208px;
  object-fit: cover;
  border-radius: 8px;
}

.chat__messages-list-text {
  padding: 16px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.chat__footer {
  background-color: var(--background);
  padding: 20px 32px;
}
