.options {
    position: fixed;
    top: 72px;
    right: 32px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
    border-radius: 16px 0 16px 16px;
    background-color: var(--background-accent);
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}