@import './vendor/normalize.css';
@import './vendor/fonts.css';
@import "./markup/pages/login/login.scss";
@import './markup/pages/register/register';
@import './markup/pages/error/error';
@import './markup/pages/chats/chats';
@import './markup/pages/profile/profile';
@import './markup/partials/chat-card/chat-card';
@import './markup/partials/toolbar/toolbar';
@import './markup/partials/input/input';

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy", Arial, sans-serif;
}
