.message {
  flex-grow: 1;
  padding: 16px 0;
  background-color: transparent;
  border: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--light);

  &:focus {
    outline: none;
  }
}
